
  
body{
    font-family: "Bebas Neue", sans-serif;
    background-color: #1D1D27;
}

.logo{
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem 0;
}
.logo img{
    width: 15rem;
}

.main-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main-title p {
    margin: 0; 
    font-size: 40px;
}

.main-title p:first-child {
    color: white;
}

.main-title p:last-child {
    color: #C50A09; 
}

.whatsapp{
    margin: 3rem 0 1rem 0;
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.6em 1.3em;
    display: flex;
    gap: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    background-color: #17171B;
    border-radius: 10px;
    border: 1px solid rgb(197, 10, 9);
    color: aliceblue;
    box-shadow: 0 0 25px rgb(197, 10, 9),
                0 0 25px rgb(197, 10, 9),
                0 0 5px rgb(197, 10, 9) inset;
    cursor: pointer;
  }
  
  .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 30px rgb(197, 10, 9),
                0 0 30px rgb(197, 10, 9),
                0 0 10px rgb(197, 10, 9) inset;
  }
  
  .button img{
    width: 30px;
  }
  

  .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .info p{
    font-size: 20px;
  }

  .info h3{
    font-size: 30px;
    text-align: center;
  }